
body {
    margin: 0;
    padding: 0;
    background-color: #2F2FA2;
    color: white;
    font-family: Quicksand;
    letter-spacing: 2px;
    animation: transitionIn 0.75s;
}
 
.nav-sen {
    text-align: center;
    overflow: hidden;
    display: block;
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: 2px 1px 3px;
}
.nav-sen a {
    text-decoration: none;;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
}
.nav-sen a:hover{
    background-color: #99738E;
    border: 1px solid skyblue;
    border-radius: 15px;
}
.nav-sen a.active {
    background-color: #99738E;
}
.main {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: center;
}

.n {
    font-size: 30px;
}
a {
    text-decoration:none;
    color: white;
}
a:hover {
	color: skyblue;
}
.woot {
    letter-spacing:5px;
}

li {
	list-style: none;
	font-size: 20px;
}

h1,h3 {
	font-size: 45px;
	margin: 20px;
}

.new {
	font-size: 25px;
}

.music, .tech {
	font-size: 30px;
}

p {
	margin: 20px;
	font-size: 21px;
}

iframe {
	border: 2px solid #F64C72;
}

.big-text {
	font-size: 26px;
	font-weight: -300;
}

.name {
	font-size: 28px;
}

.link {
	font-size: 22px;
}

@keyframes transitionIn {

	from {
		opacity: 0;
		transform: rotateX(-10deg)
	}
	
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}
